*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*overflow: hidden;*/
    font-family: 'Montserrat', sans-serif;
    background-color: #1d3557;
    color: white;
}

#quiz{
    letter-spacing: 2px;
    font-family: 'Martel', serif;
    font-size: 3rem;
    word-spacing: 20px;
    text-transform: uppercase;
    padding: 30px;
    color: #14213d;
    background-color: white;
    text-align: center;
}

.q{
    border-radius: 150px;
    text-align: center;
    padding: 40px;
    display: none;
    background: #457b9d;
    place-items: center;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.q input[type="text"]{
    font-size: 20px;
    border: none;
    border-radius: 7px;
}

.q input{
    outline: none;
    padding: 10px;
}

.q h1{
    letter-spacing: ,5px;
    word-spacing: 10px;
    padding: 20px;
    line-height: 60px;
}

.btns{
    margin-left: 520px;
    display: flex;
    flex-direction: row;
}

.marks{
    margin-top: 50px;
    text-align: center;
}
